:root {
  /*Spacing*/
  --loki-spacing-xs: 0.5rem;
  --loki-spacing-sm: 0.75rem;
  --loki-spacing-md: 1rem;
  --loki-spacing-lg: 1.125rem;
  --loki-spacing-xl: 1.5rem;
  --loki-spacing-xxl: 2rem;
  --loki-spacing-xxxl: 3rem;
  --loki-spacing-xxxxl: 3.5rem;
}