/*------------------*/
/* utility classes */
/*------------------*/
/* Colors */
.bg-dark {
  background-color: var(--loki-gray-600);
}

.bg-accent {
  background-color: var(--loki-acent-orange);
}

.bg-accent-text-primary {
  background-color: var(--loki-acent-text-primary);
}

.bg-accent-icon {
  background-color: var(--loki-acent-icon);
}

.bg-light {
  background-color: var(--loki-gray-300);
}

.bg-blue-300 {
  background-color: var(--loki-blue-300);
}

.bg-blue-400 {
  background-color: var(--loki-blue-400);
}

.bg-blue-500 {
  background-color: var(--loki-blue-500);
}

.bg-blue-600 {
  background-color: var(--loki-blue-600);
}

.bg-blue-700 {
  background-color: var(--loki-blue-700);
}

.bg-purple-300 {
  background-color: var(--loki-purple-300);
}

.bg-purple-400 {
  background-color: var(--loki-purple-400);
}

.bg-purple-500 {
  background-color: var(--loki-purple-500);
}

.bg-purple-600 {
  background-color: var(--loki-purple-600);
}

.bg-purple-700 {
  background-color: var(--loki-purple-700);
}

.bg-teal-300 {
  background-color: var(--loki-teal-300);
}

.bg-teal-400 {
  background-color: var(--loki-teal-400);
}

.bg-teal-500 {
  background-color: var(--loki-teal-500);
}

.bg-teal-600 {
  background-color: var(--loki-teal-600);
}

.bg-teal-700 {
  background-color: var(--loki-teal-700);
}

.bg-sand-300 {
  background-color: var(--loki-sand-300);
}

.bg-sand-400 {
  background-color: var(--loki-sand-400);
}

.bg-sand-500 {
  background-color: var(--loki-sand-500);
}

.bg-sand-600 {
  background-color: var(--loki-sand-600);
}

.bg-sand-700 {
  background-color: var(--loki-sand-700);
}

.bg-green-300 {
  background-color: var(--loki-green-300);
}

.bg-green-400 {
  background-color: var(--loki-green-400);
}

.bg-green-500 {
  background-color: var(--loki-green-500);
}

.bg-green-600 {
  background-color: var(--loki-green-600);
}

.bg-green-700 {
  background-color: var(--loki-green-700);
}

.bg-yellow-300 {
  background-color: var(--loki-yellow-300);
}

.bg-yellow-400 {
  background-color: var(--loki-yellow-400);
}

.bg-yellow-500 {
  background-color: var(--loki-yellow-500);
}

.bg-yellow-600 {
  background-color: var(--loki-yellow-600);
}

.bg-yellow-700 {
  background-color: var(--loki-yellow-700);
}

.bg-red-300 {
  background-color: var(--loki-red-300);
}

.bg-red-400 {
  background-color: var(--loki-red-400);
}

.bg-red-500 {
  background-color: var(--loki-red-500);
}

.bg-red-600 {
  background-color: var(--loki-red-600);
}

.bg-red-700 {
  background-color: var(--loki-red-700);
}

.bg-gray-300 {
  background-color: var(--loki-gray-300);
}

.bg-gray-400 {
  background-color: var(--loki-gray-400);
}

.bg-gray-500 {
  background-color: var(--loki-gray-500);
}

.bg-gray-600 {
  background-color: var(--loki-gray-600);
}

.bg-gray-700 {
  background-color: var(--loki-gray-700);
}

.text-dark {
  color: var(--loki-gray-600);
}

.text-accent {
  color: var(--loki-acent-orange);
}

.text-light {
  color: var(--loki-acent-text-primary);
}

.text-accent-icon {
  color: var(--loki-acent-icon);
}