.header {
  display: flex;
  margin-bottom: var(--loki-spacing-xs);
  margin-right: var(--loki-spacing-xs);
  margin-top: var(--loki-spacing-sm);
}

.header-name {
  margin-right: var(--loki-spacing-xs);
}
