.buildbear-menu_header {
  justify-content: space-between;
}
.build-bear_fork-status {
  justify-content: space-between;
}
.label {
  font-size: var(--loki-font-size-sm);
  color: var(--loki-acent-icon);
}
