.org-container {
  background-color: var(--loki-gray-500);
  border-radius: var(--loki-border-radius-large);
  border-style: solid;
  border-width: 1px;
  border-color: var(--loki-gray-400);
}

.title {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
}

.title-text {
  width: 100%;
}

.title-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}

.inviteMemberBtn {
  margin-top: 1.15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.member {
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--loki-gray-400);
  align-items: center;
  padding-top: 1rem;
}

.member:last-child {
  border-bottom: none;
}

.member-avatar {
  padding: 0.5rem;
}

.member-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.member-name {
  font-weight: var(--loki-font-weight-bold);
}

.member-info {
  width: 100%;
  padding: 0.5rem;
}

.member-actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
}

.member-actions:hover {
  cursor: pointer;
}

.send-invite-btn {
  width: 100%;
}

.invite-description {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  color: var(--loki-gray-300);
}

.invite-dialog-send-btn {
  width: 100%;
}

.remove-btn {
  color: var(--loki-gray-300);
}

.remove-dialog-description {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  color: var(--loki-gray-300);
}

.remove-dialog-btn {
  margin-top: 1rem;
  width: 100%;
}

.member-email {
  padding-top: var(--loki-spacing-xs);
}

.pending-badge {
  margin-left: auto;
}

.revoke-btn {
  color: var(--loki-gray-300);
  display: flex;
  gap: var(--loki-spacing-xs);
}

.leave-dialog-btn {
  width: 100%;
  margin-top: 1rem;
}

.capacity {
  color: var(--loki-gray-300);
  font-size: small;
}

.delete-description {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  color: var(--loki-gray-300);
}

.delete-dialog-btn {
  margin-top: 1rem;
  width: 100%;
}
